*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.work-sans{
  font-family: "Work Sans", sans-serif;
 
  font-style: normal;
}
header{
  max-width: 1600px;
  margin: 0 auto;
  background-color: #1A0B2E;
}
.bg-color{
    background: linear-gradient(
    360deg,
    #F7E93F 0%,
    #FB09B4 51%,
    #9100F8 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .white{
    color: #FFFFFF;
  }
  .nav-logo h1{
    width: 219px;
    font-weight: bold;
    font-size: 3rem;
  }
  .display-flex{
    display: flex;
  }
  .nav-menu ul,a{
    list-style: none;
    text-decoration: none;
    font-size: 1rem;
    gap: 2rem;
    color: #FFFFFF;
    font-weight: medium;
  }
  .nav-btn{
     background: linear-gradient(
    -335deg,
    #F7E93F 0%,
    #FB09B4 51%,
    #9100F8 100%
    );
    padding: 13px 1rem;
    border-radius: 10000px;
    border: none;
    font-size: 1rem;
  }
  .nav-btn i{
    /* opacity: 100%; */
    font-size: 0.7rem;

  }
  
  .navbar{
    
    justify-content: space-around;
    
    align-items: center;
    padding: 24px 0;
  }
  .banner{
    max-width: 100%;
    background-image: url("./assets/hero-bg.png");
    background-size: 100%;
    background-repeat: no-repeat;
  }
  .banner-container{
    max-width: 550px;
    border: 1px solid red;
    margin: 101px auto;
    margin-bottom: 0px;
    /* flex-direction: column; */
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .circle , .circle img{
    max-width: 350px;
    max-height: 350px;

  }
  .microphone , .microphone img{
    max-width: 200px;
    max-height: 200px;
  }
  .relative{
    position: relative;
    top: calc(-200px - 75px);
    left:100px;
     
  }
  .green-btn button{
    max-width: 75px;
     background-color: #00FF88;
    border-radius: 1000px;
    font-size: 1.1rem;
    font-weight: 600;
    padding: 8px 16px;
    border: none;
    position: relative;
    top: -520px;
    left: 230px;
    
  }
  .banner-description h1{
    margin-top: 0;
    color: white;
    font-weight: 3.75rem;
  }
  .ban-btn{
     background: linear-gradient(
    -335deg,
    #F7E93F 0%,
    #FB09B4 51%,
    #9100F8 100%
    );
    max-width: 201px;
    max-height: 44px;
    padding: 12px 1.4rem;
    border-radius: 10000px;
    border: none;
    font-size: 1rem;
    
    
  }
  .btn-groups button img{
    margin-right: 10px;
  }
  .banner-description{
    flex-direction: column;
    align-items: center;
  }
  .banner-description p{
    margin: 8px 24px;
    font-size: 16px;
    white-space: nowrap;
    opacity: 70%;
  }
  .btn-groups{
  
    gap: 8px;
  }
  .trans{
    max-width: 201px;
    max-height: 44px;
    padding: 12px 1.4rem;
    border-radius: 10000px;
    border: none;
    font-size: 1rem;
    
    background-color:transparent;
    border:1px solid white;
    color: #00FF88;
  }
  .relate{
    position: relative;
    top: -150px;
  }
  main{
    max-width: 1600px;
    margin: 0 auto;
    background-color: #1A0B2E;
  }
  .about-container
  {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    
    
  }
  
  .about-description p{
    font-size: 1rem;
    line-height: 20px;
    padding: 16px 0;
    opacity: 80%;
    line-height: 20px;
    max-width: 800px;
    
  }
  .about-description{
   flex-direction: column;  
    align-items: center;
  }

  .line{
   color: white;
   margin-top: 40px;
   margin-bottom: 80px;
   opacity: 10%;
  }
 .rating-container{
  max-width: 1200px;
  margin: 0 150px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  padding-bottom: 120px;

 }
 .box-1{
  width: 240px;
  height: 100px;
  /* border: 1px  solid red; */
}
.bold{
  color: #00FF88;
  font-size: 3rem;
  font-weight: 900;
}
.medium{
  margin-top: 16px;
  font-size: 1rem;
  opacity: 80%;
}
.icon-ham{
  display: none;
}
.hide{
  display: none !important;
}
.size{
  font-size: 3rem;
}
.choose{
  max-width: 1600px;
  background-color: #230E3D;
  padding: 120px 200px; 
  
}
.premium,.global,.exclusive,.rich,.mobile{
  background-color: #351165;
  border-radius: 40px;
  padding: 50px 20px;

}
.margin{
 margin-top: 16px;
 margin-bottom: 16px;
}
.premium{
  grid-area: premium;
  padding: 110px 40px;

}
.mobile{
  grid-area: mobile;
}
.global{
  grid-area: global;
}
.exclusive{
  grid-area: exclusive;
}
.rich{
  grid-area: rich;
}
.foot{
  grid-area: foot;
  text-align: center;
}
.choose-container{
  max-width: 1200px;
  /* margin: 120px 200px; */
  border: 1px solid red;
  display: grid;
  /* grid-template-rows:1fr 140px;
  grid-template-columns:1fr 200px; */
  gap: 30px;
  /* border-radius: 5px; */
  /* grid-template-columns: repeat(5,380px);
  grid-template-rows: repeat(4,273px); */
  grid-template-columns: repeat(5,1fr);
   grid-template-rows:  300px 300px 300px 58px;
  grid-template-areas: "premium premium mobile mobile mobile"
                        "premium premium global global global"
                        "exclusive exclusive exclusive rich rich"
                        "foot foot foot foot foot";
}

.premium h3,
.mobile h3,
.global h3,
.exclusive h3,
.rich h3{
  font-size: 1.5rem;
  font-weight: bold;
}
.premium p,
.mobile p,
.global p,
.exclusive p,
.rich p{
  font-size: 1rem;
  opacity: 60%;
}
.foot h2{
  font-size: 3rem;
}


.card-section{
  max-width: 1600px;
  margin: 120px auto;
  /* margin-bottom: 120px; */
  background-color: #1A0B2E;
  /* padding: 120px 200px; */
  /* margin: 120px 200px; */
  padding-bottom: 100px;
}
.card-container{
   border: 1px solid red;
  max-width: 1200px;
  margin: 40px auto;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 30px;

}
.card{
  width: 380px;
  height: 440px;
 
  background-color: #250D44;
  border-radius: 20px;
}

.radius{
  border-radius: 20px;
}
.card-des h1{
  text-align: center;
}
.card h3{
  margin: 12px 24px;
}
.card p{
  margin: 12px 24px;
  opacity: 60%;
  line-height: 24px;
  
}
.dur img{
  max-width: 20px;
  max-height: 20px;
  margin-left: 24px;
}
.dur p{
  color: #00FF88;
  font-weight: bold;
  opacity: 100%;
  margin-left: 0px;
  padding-left: 10px;
  
}
.dur{
  display: flex;
  align-items: center;
  
}

@media screen and  (max-width: 576px){
    .nav-logo h1{
    width: 135px;
    font-weight: 700;
    font-size: 2rem;
  }
  .nav-menu,.nav-btn{
    display: none;
    
  }
  .icon-ham{
    display: contents;
    font-weight: bold;
  }
  .banner-container{
    margin: 40px auto;
    margin-bottom: 0px;
    max-width: 400px;
  }
   .circle , .circle img{
    max-width: 200px;
    max-height: 200px;

  }
  .microphone, .microphone img{
    max-width: 80px;
    max-height: 80px;
  }
  .relative{
    position: relative;
    top: -150px;
    left: 78px;
  }
  .banner-description{
   margin-top: 80px;
   padding-bottom: 0px;
   
  }
  .banner-description p{
    margin-bottom: 20px;
    margin-bottom: 30px;
    opacity: 70%;
    line-height: 38px;
    white-space: wrap;
    text-align: center;
  }
  .about-description{
    max-width: 400px;
    
    margin: 0 auto;
   
  }
  .line{
    max-width: 400px;
    margin: 40px auto;

  }
  .rating-container{
   
    grid-template-columns: repeat(2,1fr);
    gap: 40px;
    padding-left: 40px;
    padding-bottom: 40px;
    margin: 0 auto;
  }

  .box-1{
    max-width: 180px;
    max-height: 84px;

  }
  .bold{
    font-size: 2.4rem;
  }
  .about-container{
    
    max-width: 100%;
   
    margin: 0 auto;
   
  }
 .choose{
  max-width: 100%;
  /* background-color: #230E3D; */
  margin: 0 auto;
  padding: 20px; 
  
}

 
   .premium h3,
.mobile h3,
.global h3,
.exclusive h3,
.rich h3{
  font-size: 1.3rem;
  
} 
.foot h2{
  margin-top: 20px;
  font-size: 2rem;

}
.premium,.global,.exclusive,.rich,.mobile{

  padding: 20px;

}
  
  .choose-container{
    /* max-width: 100%; */
    display: grid;
    grid-template-areas: "foot"
                          "premium"
                          "mobile"
                          "global"
                          "exclusive"
                          "rich";

    grid-template-columns: repeat(1,1fr);    
    grid-template-rows: 40px 1fr 1fr 1fr 1fr 1fr;                  
  }
  .card-section{
  
  max-width: 100%;
  margin: 0 auto;

  padding-bottom: 50px;
}
.card-container{
  flex-direction: column;
 
  max-width: 100%;
  padding: 20px 50px;
}
.card p{
  line-height: 24px;
}
.card{
  width: 400px;
  height: 393px;
 
  background-color: #250D44;
  border-radius: 20px;
}
.card-des h1{
  
  font-size: 34px;
  margin-bottom: 24px;
}
.description-text {
  display: -webkit-box;
  -webkit-line-clamp: 2;           
  -webkit-box-orient: vertical;     
  overflow: hidden;
  text-overflow: ellipsis;
}


}